:root {
  --main-color: #004575;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: "Montserrat, Noto Sans KR", sans-serif;
  font-size: .9em;
  font-weight: 400;
  text-decoration: none;
  color: #333;
  padding: 150px 0 50px 0;
  background-color: #d3ecff;
  background-image: url(../img/pattern.png);
  background-size: 10px;
  animation: bg 200s infinite linear;
}
@keyframes bg{
  0%{background-position: 0% 0%;}
  100%{background-position: 100% 70%;}
}
.en {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.icon::before, .icon::after{
    display: inline-block;
    margin-right: 5px;
    text-rendering: auto;
    font: var(--fa-font-solid);
}

img, svg, iframe, video{
  display: block;
}

.video-bg{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  mask-image: url(../img/mask.png);
  mask-size: 100% 100%;
  mix-blend-mode: overlay;
}

main{
  position: relative;
  width: 1200px;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 20px;
  background: #FFF;
}

.hidden{
  position: fixed;
  left: -10000px;
}